body {
 padding: 24px;
}

main {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}

button,
.button {
	margin-bottom: 0;
	margin-right: .5rem;
}

.logo {
	position: fixed;
	top: 8px;
	left: 8px;
	width: 128px;
}
